<form method="post" action="{{ path('school_year_delete', {'id': school_year.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ school_year.id) }}">
    <button class="btn">Delete</button>
</form>
