{% extends 'base.html.twig' %}

{% block title %}Edit User password{% endblock %}

{% block body %}
    <h1>Edit User password</h1>

    <div>
        <label for="user_password_email">email</label>
        <input id="user_password_email" type="text" value="{{ user.email }}" readonly>
    </div>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
